<h1><%= @book.title %></h1>
<p>by <%= @book.author %></p>
<p><%= @book.description %></p>

<%= link_to "Edit", edit_book_path(@book) %> |
<%= link_to "Delete", @book, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
<%= link_to "Back to Books", books_path %>

<hr>
<h2>Reviews</h2>

<% @book.reviews.each do |review| %>
  <div>
    <p><%= review.body %></p>
    <p>Rating: <%= review.rating %>/5</p>
    <%= link_to "Delete", book_review_path(@book, review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>

<%= link_to "Write a Review", new_book_review_path(@book) %>
